$vista-blue: #94d2bd;
$orange-peel: #ee9b00;
$tabasco: #ae2012;
$chamois: #e9d8a6;
$blue-chill: #0a9396;

// other theme color palette
$scalloped-potato: #fde4cf;
$baby-blue-eyes: #a3c4f3;
$lavendar-soap: #f1c0e8;
$photon-barrier: #90dbf4;
$connecticut-liliac: #cfbaf0;
$girlie: #ffcfd2;
