@import '../shared/global';
@import '../shared/colors';

:host {
  display: block;
  padding: 1rem;
  height: 100%;
  background-color: $chamois;

  .view-selection {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  .column {
    transform: rotate(90deg);
  }

  .selected-value {
    margin: 1rem 0;
    text-transform: capitalize;
    font-weight: bold;
  }

  // using ng-deep for child components
  // .row-container {
  //   ::ng-deep app-list {
  //     background-color: $blue-chill;
  //     flex-direction: row;

  //     h2 {
  //       display: none;
  //     }
  //   }
  // }

  // .column-container {
  //   ::ng-deep app-list {
  //     background-color: $tabasco;
  //     flex-direction: column;
  //   }
  // }

  .mat-button-toggle {
    background-color: $blue-chill;
  }

  // using ng-deep for material overrides
  ::ng-deep .toggle-column .mat-button-toggle-label-content {
    background-color: $tabasco;
  }
}
