@import '../shared/colors';

:host {
  display: block;
  padding: 1rem;
  height: 100%;
  background-color: $chamois;

  .view-selection {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  .mat-icon.column {
    transform: rotate(90deg);
  }
  
  .toggle-row {
    background-color: $blue-chill;
  }

  .toggle-column {
    background-color: $tabasco;
  }

  .selected-value {
    margin: 1rem 0;
    text-transform: capitalize;
    font-weight: bold;
  }

  .row-container {
    width: fit-content;
  }

  // using ng-deep for child components
  // .row-container {
  //   ::ng-deep app-list {
  //     background-color: $blue-chill;
  //     flex-direction: row;

  //     h2 {
  //       display: none;
  //     }
  //   }
  // }

  // .column-container {
  //   ::ng-deep app-list {
  //     background-color: $tabasco;
  //     flex-direction: column;
  //   }
  // }
}
