:host {
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  
  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}

:host-context(.row-container) {
  background-color: #0a9396;
  flex-direction: row;
}

:host-context(.column-container) {
  background-color: #ae2012;
  flex-direction: column;
}
