@import '../../shared/global';
@import '../../shared/colors';

:host {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  .example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}

:host-context(.row-container) {
  background-color: $vista-blue;
  flex-direction: row;
  h2 {
    display: none;
  }
}

:host-context(.column-container) {
  background-color: $tabasco;
  flex-direction: column;
}

.mat-card {
  background-color: $blue-chill;
}

//ng-deep for material overrides
// ::ng-deep .mat-card-header-text {
//   flex-grow: 2;
// }
